*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
_encoding_backup_20260606/DelForDll/DelforEngine.pas
_encoding_backup_20260606/DelForDll/DelForInterf.pas
_encoding_backup_20260606/DelForDll/DelforTypes.pas
_encoding_backup_20260606/DelForDll/OObjects.pas
_encoding_backup_20260606/SetupEx/Setup1.pas
_encoding_backup_20260606/src/CnDebug.pas
_encoding_backup_20260606/src/DelExpert.pas
_encoding_backup_20260606/src/Delfor1.pas
_encoding_backup_20260606/src/DelForCommon.pas
_encoding_backup_20260606/src/DelforEng.pas
_encoding_backup_20260606/src/DelForExpert.pas
_encoding_backup_20260606/src/DelForOTAUtils.pas
_encoding_backup_20260606/src/DelforTypes.pas
_encoding_backup_20260606/src/DockForm.pas
_encoding_backup_20260606/src/EditFile.pas
_encoding_backup_20260606/src/MyIDEStream.pas
_encoding_backup_20260606/src/OptDlg.pas
_encoding_backup_20260606/src/progr.pas
